/laskarit/viikko2/maksukortti/src/tests/__pycache__/
/laskarit/viikko2/unicafe/.pytest_cache
/laskarit/viikko2/.pytest_cache
/laskarit/viikko2/unicafe/src/__pycache__/
/laskarit/viikko2/unicafe/src/tests/__pycache__/
/laskarit/viikko2/unicafe/.coverage
/laskarit/viikko2/unicafe/htmlcov
/htmlcov
.pytest_cache
.coverage
src/__pycache__/
src/ui/__pycache__/
src/tests/.coverage
src/tests/__pycache__/
src/settings.txt


